.Banner{
    display: grid;
    display: grid;
    height: 100vh;
    grid-gap: 20px;
    grid-template-areas: "img img img"
                        "img img img"
                        "img img img";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;

    &_Img{
        grid-area: "img";
        width: 100%;
    }
    // &_Buscador{
    //     background-color: rgb(80, 4, 4);
    //     grid-area: "buscador";
    //     &_Title{
    //         text-align: center;
    //     }
    //     &_Input{
    //         text-align: center;
    //         height: 40px;
    //     }
    // }
}
// .Banner_Main{
//     display: grid;
//     height: 100vh;
//     grid-template-columns: 1fr 2fr 1fr;
//    grid-template-rows: 1fr 5fr 1fr;
//     grid-template-areas:
//         "img img img"
//         "img buscador img"
//         "img img img";
  
//         &_Img{
//           grid-area:"img";
//         }
//         &_Buscador{
//           grid-area: "buscador";
//         }
//   }
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas: 
      ". a a ."
      ". a a .";
  }
  .item1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
  }